@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: theme(colors.pink.700);
  --secondary: theme(colors.pink.200);
  --soft-primary: theme(colors.pink.50);
  --gray: theme(colors.zinc.900);
  --yellow: theme(colors.amber.200);
}
body {
  color: var(--gray);
  background-color: var(--white);
  font-size: 15px;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: var(--primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
